# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Database
database/*.db
database/*.db-journal

# Logs
logs/*.log

# Uploads
uploads/**/*
!uploads/*/.gitkeep

# Output
output/**/*
!output/.gitkeep

# Environment
.env

# IDE
.vscode/
.idea/
*.swp

# Build
build/
dist/
*.spec
*.egg-info/
